<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Russian Golden Edition</key>
	<array>
		<string>Ваграм Вазян - Любовь и боль</string>
		<string>Игорь Скляр - Комарово</string>
		<string>Алла Пугачева - Миллион алых роз</string>
		<string>Юрий Шатунов - Седая ночь</string>
		<string>Алла Пугачева - Позови меня с собой</string>
		<string>Юрий Шатунов - Белые розы</string>
		<string>Земляне - Трава у дома</string>
		<string>Григорий Лепс - Я тебе не верю</string>
		<string>Руки Вверх! - 18 мне уже</string>
		<string>Натали - О Боже, какой мужчина</string>
		<string>Михаил Шуфутинский - 3-е сентября</string>
		<string>Елена Ваенга - Курю</string>
		<string>Гостья из будущего - Прекрасное далека</string>
		<string>Ёлка - Около тебя</string>
		<string>Ёлка - Не брошу на пол пути</string>
		<string>Иванушки - Тополиный пух</string>
		<string>Alex Sparrow - Сумашедшая</string>
		<string>Лолита Милявская - Пошлю его на</string>
		<string>Лолита Милявская - На тнтанике</string>
		<string>БумБокс - Вахтерам</string>
		<string>ПИЦЦА - Оружие</string>
		<string>Градусы - Режиссер</string>
		<string>Кино - Группа крови</string>
		<string>Кино - Пачка сигарет</string>
		<string>Кино - Кукушка</string>
		<string>Кино - Звезда По Имени Солнце</string>
		<string>Баста - Сансара</string>
		<string>Баста - Медлячок </string>
		<string>t.A.T.u. - Нас не дагонят</string>
		<string>t.A.T.u. - Я сошла с ума</string>
		<string>Руки Вверх! - Крошка моя</string>
		<string>Грирорий Лепс - Рюмка водки на столе</string>
		<string>Приключения Электроника - Крылатые качели</string>
		<string>Глюкоза - Снег идет</string>
		<string>Земфира - Хочешь?</string>
		<string>Земфира - Искала</string>
		<string>Vitas - The 7th Element</string>
		<string>Егор Крид - Самая-Самая</string>
		<string>Егор Крид - Будилньик</string>
		<string>Время Истекло - Имя 505</string>
		<string>Банд&apos;Эрос - Коламбия пикчерз не представляет</string>
		<string>5sta Family - Зачем</string>
		<string>Звери - До скорой встречи</string>
		<string>Бьянка - А чо чо</string>
		<string>Бьянка - Были танцы</string>
		<string>5&apos;nizza - Солдат</string>
		<string>Максим Фадеев ft. Наргиз - Вдвоем</string>
		<string>Филипп Киркоров - Снег</string>
		<string>Филипп Киркоров - Цвет настроения синий</string>
		<string>Филипп Киркоров - Жестокая любовь</string>
		<string>Филипп Киркоров - Мне не жаль</string>
		<string>Валерий Меладзе - Красиво</string>
		<string>Валерий Меладзе - Салют, вера</string>
		<string>MBAND - Она вернется</string>
		<string>Сати Казанова ft. Arsenium - До рассвета</string>
		<string>Валерий Леонтьев - Казанова</string>
		<string>Андрей Губин - Ночь</string>
		<string>Градусы - Голая</string>
		<string>МакSим - Знаеш ли ты</string>
		<string>Дима Билан - Незвазможная возможно</string>
		<string>Алла Пугачева - Любовь похожая на сон</string>
		<string>Наташа Королева - Маленькая страна</string>
		<string>Блестящие и Arash - Восточные сказки</string>
		<string>Стас Костюшкин - Женщина, я не танцую</string>
		<string>Натали - Ветер с моря дул</string>
		<string>Алла Пугачева и Максик Галкин - Будь или не будь</string>
		<string>Юрий Шатунов - Детство</string>
		<string>Сатс Михайлов - Все для тебя</string>
		<string>Муслим Магомаев - Королева красоты</string>
		<string>Муслим Магомаев - Лучший город земли </string>
		<string>Варвара - Катюша </string>
		<string>Русская народная - Калинка</string>
		<string>Ансамбль имени А. В. Александрова - Смуглянка</string>
		<string>Григорий Лепс - Натали</string>
		<string>Михаил Круг - Владимирский Централ </string>
		<string>Любэ - Давай за</string>
		<string>Олег Газманов - Офицеры</string>
		<string>Градусы - Научиться бы не париться</string>
		<string>IOWA - Маршрутка</string>
		<string>IOWA - Одно и тоже</string>
		<string>Ленинград - Экспонат</string>
		<string>LOBODA - Твои глаза</string>
		<string>Михаил Шуфутинцкий - Еврейский партной</string>
		<string>Михаил Шуфутинцкий - Марджанджа</string>
		<string>Михаил Шуфутинцкий и Лев Лещенко - Обажая тебя</string>
		<string>Михаил Шуфутинцкий - У вакзала</string>
		<string>Ирина Аллегрова -  С днем рождения</string>
		<string>Ирина Аллегрова - Императрица </string>
		<string>Михаил Круг - Купала</string>
		<string>Валерий Леонтьев - Светафор</string>
		<string>Кракадил Гена - Пусть бегут</string>
		<string>Кракадил Гена - Голубой вагон</string>
		<string>Бременские Музыканты - Ничево на свете лучше нету </string>
		<string>Веселая Карусель - Антошка</string>
		<string>Буренка Даша - Два веселых гуся</string>
		<string>Детская песня - Кузнечик</string>
		<string>Аида Ведищева - Чунга-чанга</string>
		<string>Крошка Енот - Улыбка</string>
		<string>Песенка Львенка и Черепахи</string>
		<string>Детская песня - Чебурашка </string>
		<string>Приключения Буратино - Бу-ра-ти-но!</string>
		<string>Винни Пух, Пятачок, Ослик Иа - Песня</string>
		<string>Лайма Вайкыле - Еще не вечер</string>
		<string>Михаил Боярский - Зеленоглазое такси</string>
		<string>Алла Пугачева - Любовь похожая на сон</string>
		<string>Александр Серов - Я люблю тебя до слез</string>
		<string>Григорий Лепс - Я счастливый</string>
		<string>Аркадий Укупник - Мальчик хочет в Тамбов</string>
		<string>Отпетые Мошенники - Люби меня люби</string>
		<string>Стас Михайлов - Берега мечты</string>
		<string>Кипелов - Я свободен</string>
	</array>
	<key>Russian Pop</key>
	<array>
		<string></string>
		<string>Баста Ft. Zivert - Неболеӣ</string>
		<string>Грибы - Тает лёд </string>
	</array>
	<key>Russian Hip-Hop</key>
	<array>
		<string>Natan Ft. Тимати - Дерзкая</string>
		<string>Тимати - Борода</string>
		<string>N1NT3NDO - Криминал</string>
		<string>Jah Khalib - 9 грамм свинца</string>
		<string>Jah Khalib - Ты словно целая вселенная</string>
		<string>Макс Корж - Малиновыӣ закат</string>
		<string>Eldzhey Ft. FEDUK - Розовое вино</string>
		<string>Мот - Капкан</string>
		<string>Matrang - Медуза</string>
		<string>The Limba Ft. Andro - X.O</string>
		<string>Miyagi Ft. Andy Panda - Тамада</string>
		<string>9 Грамм Ft. Miyagi, Andy Panda - Рапапам</string>
		<string>Skryptonite - Цепи </string>
		<string>Ярмак - Сердце пацана</string>
		<string>Тимати Ft. Егор Крид - Где ты где я</string>
		<string>Skryptonite Ft. Andy Panda - Привычка</string>
		<string>Серёга - Чёрныӣ бумер</string>
		<string>Тимати - Баклажан</string>
		<string>Miyagi Ft. Andy Panda, Симптом - Люби меня</string>
		<string>Макс Корж - Афган</string>
		<string>Xcho - Gangster</string>
		<string>Skryptonite - Чистыӣ</string>
		<string>Xcho - I can fly</string>
		<string>Xcho - Эскизы</string>
		<string>Xcho - Вороны</string>
		<string>Skryptonite - Положение</string>
		<string>Skryptonite - Москва любит</string>
		<string>Miyagi - Kossandra</string>
		<string>Miyagi Ft. Andy Panda - Там ревели горы</string>
		<string>Miyagi - Родная поӣ</string>
		<string>Miyagi - По уши в тебя влюблён</string>
		<string>Miyagi - Колибри</string>
		<string>Баста - Пуэрчик по крепче</string>
		<string>Баста - Урбан</string>
		<string></string>
		<string>Каспийский груз - Детство</string>
		<string>Каспийский груз - Не было и не надо </string>
		<string>Каспийский груз - Давай уедем </string>
		<string>Каспийский груз - Сам всё знаю </string>
		<string>Каспийский груз - Туда и Обратно </string>
		<string>Джарахов Ft. Markul - Я в моменте</string>
		<string>MiyaGi Ft. Andy Panda – Не Жалея</string>
		<string>Miyagi Ft. Andy Panda, Mav-D - Marmalade</string>
		<string>Каспийский груз - Доедешь-Пиши</string>
		<string>Каспийский груз - Адик Original</string>
		<string>Каспийский груз - Чёрная Волга</string>
		<string>Каспийский груз - 18+</string>
		<string>Каспийский груз - Табор Уходит В Небо</string>
		<string>Miyagi - Marlboro</string>
		<string>Miyagi - Captain </string>
		<string>Miyagi Ft. Andy Panda - FIre Man</string>
		<string>Santiz - Rastafari</string>
		<string>Miyagi Ft. Andy Panda – Minor</string>
		<string>Гуф - ЧП</string>
		<string>Гуф - Письмо Домой</string>
		<string>Гуф - 420</string>
		<string>Гуф - Ice Baby</string>
		<string>Гуф - Про лето</string>
		<string>Гуф - Гуф умер</string>
		<string>Гуф - Пусто</string>
		<string>Баста - Папа What&apos;s Up</string>
		<string>Баста - Там, где нас нет</string>
		<string>Баста Ft. Тати - Моя вселенная</string>
		<string>Баста - Темная ночь</string>
		<string>Баста Ft. Бумбокс - Солнца не видно</string>
		<string>Баста - Моя игра</string>
		<string>Баста - Мама</string>
	</array>
	<key>Rock Hits</key>
	<array>
		<string>System Of A Down - Chop Suey</string>
		<string>System Of A Down - Aerials</string>
		<string>System Of A Down - Toxicity</string>
		<string>System Of A Down - B.Y.O.B.</string>
		<string>System Of A Down - Lonely Day</string>
		<string>System Of A Down - Radio/Video</string>
		<string>System Of A Down - Solider Side</string>
		<string>Red Hot Chili Peppers - Californication</string>
		<string>Red Hot Chili Peppers - Snow</string>
		<string>Eagles - Hotel California</string>
		<string>The Cranberries - Zombie</string>
		<string>Linkin Park - Numb</string>
		<string>Linkin Park - In The End</string>
		<string>Nirvana - Smells Like Teen Spirit</string>
		<string>Nirvana - Heart Shaped Box</string>
		<string>Evanescence - Bring Me Back To Life</string>
		<string>Scorpions - Wind Of Change</string>
		<string>Scorpions - Still Loving You</string>
		<string>Scorpions - Send Me An Angel</string>
		<string>Evanescence - My Immortal</string>
		<string>The Animals - House Of Rising Sun</string>
		<string>Queen - Mama</string>
		<string>Queen - Show Must Go On</string>
		<string>Queen - Bohemian Rhapsody</string>
		<string>Queen - Rock You</string>
		<string>Queen - We Are The Champions</string>
		<string>Queen - I Want To Break Free</string>
		<string>Guns N&apos; Roses - November Rain</string>
		<string>Guns N&apos; Roses - Sweet Child O&apos; Mine</string>
		<string>Guns N&apos; Roses - Knocking On Heavens Door</string>
		<string>Pink Floyd - Another Brick In The Wall Part 2</string>
		<string>Radio Head - Creep</string>
		<string>AC/DC - Highway To Hell</string>
		<string>AC/DC - T.N.T.</string>
		<string>AC/DC - Thunderstruck</string>
		<string>AC/DC - Back In Black</string>
		<string>Metallica - Nothing Else Matters</string>
		<string>Rammstein - Du Hast</string>
		<string>Nirvana - The Man Who Stole The World</string>
		<string>Pink Floyd - Comfortably Numb</string>
		<string>The Beatles - Hey Jude</string>
		<string>The Beatles - Yesterday</string>
		<string>The Beatles - Let It Be</string>
		<string>The Beatles - Help!</string>
		<string>The Beatles - Come Together</string>
		<string>The Beatles - Blackbird</string>
		<string>The Beatles - Ob-La-Di Ob-La-Da</string>
		<string>Cigarettes After Sex - Apocalypse</string>
		<string>Cigarettes After Sex - K.</string>
		<string>Bon Jovi - Livin&apos; On A Prayer</string>
		<string>Led Zeppelin - Stairway To Heaven</string>
		<string>Led Zeppelin - Kashmir</string>
		<string>Bon Jovi - It&apos;s My Life</string>
		<string>Queen -  Another One Bites The Dust</string>
		<string>The Police - Every Breath You Take</string>
		<string>a-ha - Take On Me </string>
		<string>Arctic Monkeys - Do I Wanna Know?</string>
		<string>Bee Gees - Stayin&apos; Alive</string>
		<string>Green Day - Boulevard Of Broken Hearts</string>
		<string>Red Hot Chili Peppers - Dani California</string>
		<string>Queen - Somebody To Love</string>
		<string>Aerosmith - Dream On</string>
		<string>Led Zeppelin - Black Dog</string>
		<string>Lynyrd Skynyrd - Sweet Home Alabama</string>
		<string>Survivor - Eye Of The Tiger</string>
		<string>R.E.M. - Losing My Religion</string>
		<string>Imagine Dragons - Demons</string>
		<string>KALEO - Way Down We Go</string>
		<string>Plain White T&apos;s - Hey There Delilah</string>
		<string>Ram Jam - Black Betty</string>
		<string>Nirvana - Lithium</string>
		<string>Marilyn Manson - Sweet Dreams</string>
		<string>Black Sabbath - Iron Man</string>
		<string>Black Sabbath - God Is Dead?</string>
		<string>Black Sabbath - Paranoid</string>
		<string>Ozzy Osbourne - Crazy Train</string>
		<string>Westlife - Soledad</string>
		<string>Led Zeppelin - Whole Lotta Love</string>
		<string>Arctic Monkeys - Why&apos;d You Call Me When You&apos;re High</string>
		<string>Arctic Monkeys - R U Mine?</string>
		<string>Deep Purple - Smoke On The Water</string>
		<string>Lynyrd Skynyrd - Free Bird</string>
		<string>John Lenon - Imagine</string>
		<string>Eric Clapton - Layla</string>
		<string>The Jimi Hendrix Exoperience - Purple Haze</string>
		<string>The Police - Every Breath You Take</string>
		<string>Metallica - The Day That Never Comes</string>
		<string>Sublime - Santeria</string>
		<string>Pink Floyd - Wish You Were Here</string>
		<string>Queen - Love Of My Life</string>
		<string>Eric Clapton - Cocaine</string>
		<string>Bryan Adams - Summer Of &apos;69</string>
		<string>The White Stripes - Seven Nation Army</string>
		<string>Green Day - When I Come Around</string>
		<string>Pixies - Where Is My Mind?</string>
		<string>twenty one pilots - Chlorine</string>
		<string>Imagine Dragons - Whatever It Takes</string>
		<string>Imagine Dragons - Radioactive</string>
		<string>Imagine Dragons - Believer</string>
		<string>Imagine Dragons - Thunder</string>
		<string>Panic! At The Disco - High Hopes</string>
		<string>Deep Purple - Solider Of Fortune</string>
		<string>Led Zeppelin - Immigrant Song</string>
		<string>Metallica - Enter Sandman</string>
		<string>TOTO - Africa</string>
		<string>Arctic Monkeys - No. 1 Anthem</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>Hip-Hop Hits</key>
	<array>
		<string>Eminem - Lose Yourself</string>
		<string>Eminem - Mocking Bird</string>
		<string>Eminem - The Real Slim Shady</string>
		<string>50 Cent - P.I.M.P.</string>
		<string>50 Cent - Candy Shop</string>
		<string>Dr. Dre Ft. Eminem - Forgot About Dre</string>
		<string>2Pac Ft. Snoop Dog - 2 Of Americaz Most Wanted</string>
		<string>Dr. Dre Ft. Snoop Dog - Still D.R.E</string>
		<string>2Pac - All Eyes On Me</string>
		<string>The Nutorious B.I.G - Big Poppa</string>
		<string>Ice Cube - It Was A Good Day</string>
		<string>Kendrick Lamar - m.A.A.d city</string>
		<string>N.W.A - Fuck The Police</string>
		<string>Coolio - Gangsta&apos;s Paradise</string>
		<string>Jay-Z Ft. Kanye West - Ni**as In Paris</string>
		<string>Kendrick Lamar - DNA.</string>
		<string>Eminem - Without Me </string>
		<string>50 Cent - In The Club</string>
		<string>Eminem - Rap God</string>
		<string>2Pac Ft. Outlaws - Hit &apos;Em Up</string>
		<string>2Pac - Dear Mama</string>
		<string>2Pac Ft. Dr. Dre - California Love</string>
		<string>Will Smith - Gettin&apos; Jiggy With It</string>
		<string>Kanye West - Flashing Lights </string>
		<string>Travis Scott - Highest In the Room</string>
		<string>Travis Scott Ft. Kendrick Lamar - Goosebumps</string>
		<string>A$AP Rocky Ft. Skepta - Praise The Lord</string>
		<string>Travis Scott Ft. Drake - Sicko Mode</string>
		<string>Masked Wolf - Astronaut In The Ocean </string>
		<string>Travis Scott - Butterfly Effect</string>
		<string>Drake - God&apos;s Plan</string>
		<string>Dj Khaled Ft. Drake - Popstar</string>
		<string>Future - Mask Off</string>
		<string>XXXTENTACION - Moonlight</string>
		<string>XXXTENTACION - Look At Me!</string>
		<string>Migos Ft. Drake - Walk It Talk It</string>
		<string>Kendrick Lamar - Swimming Pools</string>
		<string>Kendrick Lamar - Humble</string>
		<string>Lil Wayne Ft. Bruno Mars - Mirrors</string>
		<string>J Cole - Middle Child</string>
		<string>J Cloe - She Knows</string>
		<string>Kanye West - Heartless</string>
		<string>Pop Smoke - Dior</string>
		<string>N.W.A - Straight Outta Compton</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>Pop Hits</key>
	<array>
		<string>Beyonce - Single Ladies</string>
		<string>Rihanna - Don&apos;t Stop The Music</string>
		<string>Bruno Mars - Talking To The Moon</string>
		<string>Flora Cash - You&apos;re Somebody Else</string>
		<string>The Weekend - Call Out My Name</string>
		<string>Beyonce - Run The World</string>
		<string>Sia - Cheap Thrills</string>
		<string>Lana Del Rey - Young And Beautiful</string>
		<string>Beyonce - Halo</string>
		<string>MAGIC! - Rude</string>
		<string>Michael Jackson - Smooth Criminal</string>
		<string>Michael Jackson -  Beat It</string>
		<string>Selena Gomez Ft. The Scene - Love You Like A Love Song</string>
		<string>Lana Del Rey - Diet Mountain Dew </string>
		<string>Lady Gaga - Poker Face</string>
		<string>ABBA - Gimme Gimme</string>
		<string>Billie Eilish Ft. Khalid - Lovely</string>
		<string>Meghan Trainor - All About That Bass</string>
		<string>Rihanna Ft. Jay-Z - Umbrella</string>
		<string>Anne-Marie - 2002</string>
		<string>Ed Sheeran - Castle On The Hills </string>
		<string>The Chainsomkers - Paris</string>
		<string>Passenger - Let Her Go</string>
		<string>Arash Ft. Helena - Broken Angel</string>
		<string>James Arthur - Say You Won&apos;t Let Go</string>
		<string>Dua Lipa - IDGAF</string>
		<string>Taylor Swift - Blank Space</string>
		<string>Taylor Swift - Shake It Off</string>
		<string>Katy Perry - Roar</string>
		<string>Rixton - Me And My Broken Heart</string>
		<string>Camila Cabello Ft. Shawn Mendes - Senorita</string>
		<string>Bastille - Pompeii</string>
		<string>Doja Cat - Woman</string>
		<string>Harry Styles - Watermalone Sugar</string>
		<string>Harry Styles - As It Was</string>
		<string>Beyonce Ft. Jay-Z - Crazy In Love</string>
		<string>Lukas Graham - 7 Years</string>
		<string>Post Malone - White Iverson</string>
		<string>The Weekend Ft. Daft Punk - Starboy</string>
		<string>Idina Menzel - Let It Go</string>
		<string>Milky Chance - Stolen Dance</string>
		<string>Ed Sheeran - Photograph</string>
		<string>Celine Dion - My Heart Will Go On</string>
		<string>Lykke Li Ft. The Magician - Follow Rivers</string>
		<string>Bruno Mars - Marry You</string>
		<string>Harry Styles - Sign Of The Times</string>
		<string>Post Malone Ft. Migos - Congratulations</string>
		<string>Axwell /\ Ingrosso - More Than You Know</string>
		<string>Sam Smith - Too Good At Goodbyes</string>
		<string>Rudimental Ft. Macklemore, Jess Glynne - These Days </string>
		<string>G-Easy Ft. Halsey - Him &amp; I</string>
		<string>Anne-Marie Ft. Clean Bandit, Sean Paul - Rockabye</string>
		<string>Jennifer Lopez Ft. Pitbull - On The Floor</string>
		<string>Lewis Capaldi - Someone You Loved</string>
		<string>Justin Bieber - Baby</string>
		<string>Toploader - Dancing In The Moonlight</string>
		<string>Britney Spears - Toxic</string>
		<string>Katy Perry - I Kissed A Girl</string>
		<string>Sia - Chandelier</string>
		<string>Dua Lipa - One Kiss</string>
		<string>Lorde - Royals</string>
		<string>5 Seconds Of Summer - Youngblood</string>
		<string>Lady Gaga - Bad Romance</string>
		<string>Bruno Mars - Locked Out Of Heaven</string>
		<string>Dua Lipa - New Rules</string>
		<string>Zayn Ft. Sia - Dusk Till Dawn</string>
		<string>Zara Larsson Ft. Clean Bandit - Symphony</string>
		<string>Maroon 5 - Maps</string>
		<string>One Direction - Story Of My Life</string>
		<string>Lady Gaga Ft. Bradley Cooper - Shallow</string>
		<string>Sting - Shape Of My Heart</string>
		<string>George Michael - Careless Whisper</string>
		<string>Mike Posner - I Took A Pill In Ibiza</string>
		<string>G-Eazy Ft. Bebe Rexha - Me, Myself &amp; I</string>
		<string>Ariana Grande Ft. Nicki Minaj - Side To Side</string>
		<string>Rihanna - Bitch Better Have My Money</string>
		<string>The Weekend - Can&apos;t Feel My Face</string>
		<string>Charlie Puth Ft. Wiz Khalifa - See You Again</string>
		<string>Naughty Boy Ft. Sam Smith - La La La</string>
		<string>Michael Jackson, Justin Timberlake - Love Never Felt So Good</string>
		<string>The Neighbourhood - Sweater Weather</string>
		<string>Pitbull Ft. Ke$ha - Timber</string>
		<string>Taylor Swift - Shake It Off</string>
		<string>The Weekend - Blinding Lights</string>
		<string>The Weekend - Save Your Tears</string>
		<string>Lil Nas X - Montero</string>
		<string>The Kid Laroi Ft. Justin Bieber - Stay</string>
		<string>Masked Wolf - Astronaut In The Ocean</string>
		<string>Lil Nas X Ft. Jack Harlow - Industry Baby</string>
		<string>Doja Cat Ft. SZA - Kiss Me More</string>
		<string>Maneskin - Beggin</string>
		<string>Ed Sheeran - Shape Of You</string>
		<string>The Chainsmokers Ft Halsey - Closer</string>
		<string>Toni Braxton - Un-Break My Heart</string>
		<string>Luis Fonsi &amp; Daddy Yankee - Despacito</string>
		<string>Adele - Rolling In The Deep</string>
		<string>Adele - Hello</string>
		<string>Adele - Someone Like You</string>
		<string>Blondie - Call Me</string>
		<string>Bee Gees - Stayin Alive</string>
		<string>Timbaland Ft. OneRepublic - Apologize</string>
		<string>Maroon 5 Ft. Christina Aguilera - Moves Like Jagger</string>
		<string>Pharrell Williams - Happy</string>
		<string>Bruno Mars - Just The Way You Are </string>
		<string>Bruno Mars - Grenade</string>
		<string>Bruno Mars - Lazy Song </string>
		<string>Bruno Mars - Uptown Funk</string>
		<string>Bruno Mars - When I Was Your Man</string>
		<string>Michael Jackson - Billie Jean</string>
		<string>Michael Jackson - Bad</string>
		<string>Post Malone Ft. 21 Savage - Rockstar</string>
		<string>Ed Sheeran - Perfect</string>
		<string>Los des Rio - Macarena </string>
		<string>The Black Eyed Peas - I Gotta Feeling</string>
		<string>Gotye Ft. Kimbra - Somebody That I Used To Know</string>
		<string>Lady Gaga - Alejandro</string>
		<string>Pitbull Ft. Ne-Yo - Give Me Everything</string>
		<string>Gym Class Heroes Ft. Adam Levine - Stereo Hearts</string>
		<string>Carly Rae Jepsen - Call Me Maybe</string>
		<string>Maroon 5 Ft. Wiz Khalifa - Payphone</string>
		<string>Rihanna Ft. Calvin Harris - We Found Love</string>
		<string>Adele - Set Fire To The Rain</string>
		<string>Flo Rida - Whistle</string>
		<string>Rihanna - Diamond </string>
		<string>Imagine Dragons - Radiocative</string>
		<string>Daft Punk Ft. Pharrell Williams - Get Lucky</string>
		<string>Bruno Mars - Locked Out Of Heaven</string>
		<string>Miley Cyrus - We Can&apos;t Stop</string>
		<string>Avicii - Wake Me Up</string>
		<string>Capital Cities - Safe And Sound</string>
		<string>Lana Del Rey - Summertime Sadness</string>
		<string>Miley Cyrus - Wrecking Ball</string>
		<string>One Republic - Counting Stars</string>
		<string>John Legend - All Of Me</string>
		<string>Sia - Chandelier</string>
		<string>Hozier - Take Me to Church</string>
		<string>Maroon 5 - Sugar</string>
		<string>Sam Smith - I&apos;m Not The Only One</string>
		<string>Vance Joy - Riptide</string>
		<string>21 Pilots - Stressed Out</string>
		<string>Charlie Puth Ft. Selena Gomez - We Don&apos;t Talk Anymore</string>
		<string>Charlie Puth - Attention</string>
		<string>Sting - Englishman In New York</string>
		<string>Billie Eilish - Bad Guy</string>
		<string>Ariana Grande - 7 Rings</string>
		<string>Maroon 5 - Memories</string>
		<string>Macklemore Ft. Ryan Lewis - Thrift Shop</string>
		<string>will.i.am Ft. Britney Spears - Scream and Shout</string>
		<string>Black Pumas - Colors</string>
		<string>Bonny M. - Sunny</string>
		<string>Maroon 5 - This Love</string>
		<string>Glas Animals - Heat Waves</string>
		<string>Gnash ft. Olivia O&apos;Brian - I Hate You, I Love You</string>
		<string>Kygo ft. Miguel - Remind Me To Forget</string>
	</array>
	<key>Armenian Golden Edition</key>
	<array>
		<string>Սիլվա Հակոբյան - Սիլոյի պարը</string>
		<string>Հարութ Փամբուկչյան - Օ, քամի քամի</string>
		<string>Հարութ Փամբուկչյան - Ես առանց քեզ</string>
		<string>Հարութ Փամբուկչյան - Թե աչերս քեզ որոնեն</string>
		<string>Հարութ Փամբուկչյան ft. Սիրուշո - Տարիներ</string>
		<string>Հարութ Փամբուկչյան - Էլ չենք լինի 20 տարեկան</string>
		<string>Ռուբեն Հախվերդյան - Հին ընկեր</string>
		<string>Ռուբեն Հախվերդյան - Իմ փոքրիկ նավակ</string>
		<string>Ռուբեն Հախվերդյան - Բարի լույս, տիկին Արուս</string>
		<string>Ռուբեն Հախվերդյան ft. Լիլիթ Պիպոյան - Մեր սիրո աշունը</string>
		<string>Ռուբեն Հախվերդյան - Աստղազարդ նկար</string>
		<string>Ռուբեն Հախվերդյան - Լավագույն տղերքը</string>
		<string>Ռուբեն Հախվերդյան - Սա Երևանն է</string>
		<string>Ռուբեն Հախվերդյան - Ձյունը</string>
		<string>Թաթա Սիմոնյան - Երանի</string>
		<string>Թաթա Սիմոնյան  - Տեսել եմ</string>
		<string>Թաթա Սիմոնյան  - Երևանս</string>
		<string>Թաթա Սիմոնյան - Անապատի արև</string>
		<string>Թաթա Սիմոնյան - Նոր Տարի</string>
		<string>Թաթա Սիմոնյան  - 16 </string>
		<string>Թաթա Սիմոնյան - Վերջին զանգ</string>
		<string>Թաթա Սիմոնյան - Կգնամ հեռու-հեռու</string>
		<string>Թաթա Սիմոնյան - Անծանոթ աղջիկ</string>
		<string>Թաթա Սիմոնյան - Քայլ առ առաջ</string>
		<string>Ռուբեն Մաթևոսյան -  Չքնաղ երազ</string>
		<string>Ֆորշ - Երևանը մենք ենք</string>
		<string>Ֆորշ - Այսպես էլ ապրում ենք</string>
		<string>ALL STARS - Էրեբունի</string>
		<string>Kohar ft. ALL STARS - Կիլիկիա</string>
		<string>Արման Հովհաննիսյան ft. Արմինկա - Այս գիշեր</string>
		<string>Արման Հովհաննիսյան ft. Լուսինա - Կուզեմ գեթ մի պահ</string>
		<string>Արման Հովհաննիսյան - Երևանս</string>
		<string>Արման Հովհաննիսյան - Օրեր</string>
		<string>Արման Հովհաննիսյան - Կորել եմ</string>
		<string>Dorians - Ես կուլամ</string>
		<string>Կաթիլ - Կուզիմ</string>
		<string>Empyrey - Որոգայթ</string>
		<string>Արամ Ասատրյան - Հայ ես դու</string>
		<string>Արամե - Մի Նամակ</string>
		<string>Արամե - Իմ արև</string>
		<string>Սիլվա Հակոբյան - Խաչիկ,Վաչիկ</string>
		<string>Սիլվա Հակոբյան - Ուշացել եմ</string>
		<string>Սիլվա Հակոբյան - Գիշեր է </string>
		<string>Սևակ Խանաղյան - Արցախ</string>
		<string>Նարե Գևորգյան - Մոր երգը զինվորին</string>
		<string>Ինգա Անուշ Արշակյաններ - Ապրելու ապրիլ</string>
		<string>Ինգա Անուշ Արշակյաններ - Մենք ենք սարերը մեր</string>
		<string>Գրիշա Աղախանյան - Սուրբ Սարգիս</string>
		<string>Գրիշա Աղախանյան - Համեստա</string>
		<string>Ալլա Լևոնյան - Լորկե</string>
		<string>Ալլա Լևոնյան - Գնա ու կռվիր</string>
		<string>Քրիստինե Պեպելյան - Չէ,չէ,չէ</string>
		<string>Անդրե - Իմ սերը քեզ</string>
		<string>Սիրուշո - Պռեգոմեշ</string>
		<string>Սիրուշո - Մութն ընկել է ( Բարի Գիշեր)</string>
		<string>Hay Cola - Hay Cola</string>
		<string>Էլոն Սարաֆյան - Հայ աղջիկ</string>
		<string>Լիլիթ Հովհաննիսյան - Իմ սրտին ասա</string>
		<string>Լիլիթ Հովհաննիսյան ft. Վաչե Ամարյան - Ինձ չսպանես</string>
		<string>Թաթա Սիմոնյան - Ամենալավը դու ես</string>
		<string>Քրիստինե Պեպելյան ft. Արմենչիկ - Ինչու</string>
		<string>Արմո - Ուշ է հիմա</string>
		<string>Արա Մարտիրոսյան - Բալա, բալա</string>
		<string>Արա Մարտիրոսյան - Բաժանում չի լինում</string>
		<string>Ռազմիկ Ամյան - Պստիկ Պապան</string>
		<string>HAYQ - Քամի փչի</string>
		<string>Aram MP3 - Կուզես</string>
		<string>Մեր Բակ - VIP դրախտ</string>
		<string>Մարի - Դառը սև սուրճ</string>
		<string>Լիլիթ Հովհաննիսյան - Ես եմ հորինել</string>
		<string>Մարտին Մկրտչյան -  Այս երգը քոնն է </string>
		<string>Սարո Թովմասյան ft. Արթուր Գրիգորյան - Կյանք ու կռիվ</string>
		<string>Ռուբեն Հախվերդյան - Կարմիր Կակաչներ</string>
		<string>Մանուել Մենենգիչյան - Երջանկության Արցունքները</string>
		<string>Արմեն Դարբինյան - Ով սիրուն սիրուն</string>
		<string>Հարութ Փամբուկչյան - Ղափամա</string>
		<string>ALL STARS - Ես սիրում եմ իմ երկիրը ( Կարմիր,կապույտ,ծիրանագույն)</string>
		<string>Սևակ Ամրոյան - Գինի լից</string>
		<string>Թռչեի Մտքով Տուն</string>
		<string>Reincarnation - Աշխարհումս իմն դուն իս</string>
		<string>Reincarnation - Էլի լավ ա</string>
		<string>Artem Valter - Armenia</string>
		<string>Էլվինա Մակարյան - Իմ սրտի գարուն</string>
		<string>Թիվ 5 - 4 տղա</string>
		<string>Մեր Բակ - Մանթո եմ</string>
		<string>Մեր Բակ - Ворона</string>
		<string>Լիլիթ Կարապետյան -  2 քույր</string>
		<string>Լիլիթ Կարապետյան  -  Տանգո</string>
		<string>Լիլիթ Կարապետյան -  Սիրո քամի</string>
		<string>Հայկո - Վերև</string>
		<string>Արսեն Գրիգորյան - Այբուբեն(Ա,բ,գ,դ,ե)</string>
		<string>Սիրուշո - Հավատում եմ</string>
		<string>Արմինե Գրիգորյան - Երևանի սիրուն տղա</string>
		<string>Արսեն Սաֆարյան - Քո տոնը շնորհավոր</string>
		<string>Ռազմիկ Ամյան - Չունի Աշխարհը քեզ նման</string>
		<string>Վարդան Սարգսյան - Խենթ,խենթ,խենթ</string>
		<string>Աիդա Սարգսյան - Կռունկներ</string>
		<string>Թիվ 5 - Երազ ու սեր</string>
		<string>Արթուր Գրիգորյան - Ձյունն է</string>
		<string>Էրիկ - Ոչ ավել ոչ պակաս</string>
		<string>Հայկո - Մի վախեցիր</string>
		<string>ԼԱՎ ԷԼԻ - Գտա քեզ երկնքում</string>
		<string>ԼԱՎ ԷԼԻ - Քո աչքերը</string>
		<string>Արաբո Իսպիրյան - Տուն իմ հայրենի</string>
		<string>Քրիստինե Պեպելյան - Մայրիկ</string>
		<string>Արամե - Մամա</string>
		<string>Շուշան Պետրոսյան - Մայրիկ</string>
		<string>Հայկո ft. Շուշան Պետրոսյան - Երազ իմ երկիր </string>
		<string>Սոնա ft. Գարիկ - Լուսին</string>
		<string>Հարութ Փամբուկչյան - Իմ կյանքը</string>
		<string>Սևակ Ամորյան - Ախպերս ու ես</string>
		<string>Հայ ժողովրդական - Զարթնիր Լաո</string>
		<string>Հայ ժողովրդական - Գետաշեն</string>
		<string>Արմեն Պողոսյան - Պատիվ ունեմ</string>
		<string>Nemra - Նարե</string>
		<string>Արսեն Սաֆարյան - Պարոնայք սպաներ</string>
		<string>Գեորգի Մինասյան - Արևիկ</string>
		<string>Ռուբեն Հախվերդյան - Շատախոս անձրևը</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>Armenian Rabiz</key>
	<array>
		<string>Ara &amp; Alik Avetisyanner - Voch avel Voch pakas</string>
		<string>Գրիշա Աղախանյան - 50 տարի</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>Armenian Hip-Hop</key>
	<array>
		<string>Vnasakar Ft. Ponch - Chem Karum Qnem</string>
		<string>Vnasakar Ft. Ponch - Izabel</string>
		<string>Vnas - Huys</string>
		<string>Vnas - Ushacac</string>
		<string>Vnas - Tagy</string>
		<string>Vnas - Uzenam Kasem</string>
		<string>Kar - Qshi Stuc Arag</string>
		<string>Kar - Freestyle Chi</string>
		<string>Kar - Antarber</string>
		<string>Kar - Fiona</string>
		<string>Kar - La Vida Loca</string>
		<string>Vnas - Mama I&apos;m A Hanc</string>
		<string>Vnasakar - Chem Uzum Asem</string>
		<string>Vnasakar Ft. 47 - Qez Ktanen</string>
		<string>Misho - Ov Enq</string>
		<string>Vnaskar - Honey Bitch</string>
		<string>Misho Ft. Vnasakar, Xudo - Ov Es Du </string>
		<string>Misho - Hachelia</string>
		<string>Misho - Katafalka</string>
		<string>Mi Qani Hogi - Tar Indz</string>
		<string>Misho - Mer SIrac Ergy</string>
		<string>Misho - Dmats Or</string>
		<string>Misho - Ete Irar Lsenq</string>
		<string>Narek Mets Hayq Ft. 3.33 - Kes Mard</string>
		<string>3.33 Ft. Tata Simonyan -Dzyuny Halel Er</string>
		<string>3.33 - Nkari Mej</string>
		<string>3.33 - Kakach</string>
		<string>A Chilla Ft. D&apos;litte - Kyanq U Togh</string>
		<string>Misho - Lkti Misho</string>
		<string>Misho - Hastat Apeh</string>
		<string>Mi Qani Hogi - Es Pahin</string>
		<string>Sirius - Bro</string>
		<string>Sirius Ft. 3dgar - Demo</string>
		<string>HT Hayko - Taxi</string>
		<string>Misho Ft. Sencho, Felo - Uxxaki Mtqer 2</string>
		<string>Sencho Ft. Mos - Aprel</string>
		<string>Sencho - Barev Erjankutyun Du Indz Atum Es</string>
		<string>Sencho - Jmanaky</string>
		<string>Sencho Ft. Xudo - Qaxaqum Anjatel En Luysery</string>
		<string>Lyov Ft. Vnas, Xudo - Maylamut </string>
		<string>Lyov - Erb Vor Es</string>
		<string>Lyov - Gangin</string>
		<string>Hay Txeq - Mi Katil Mexr</string>
		<string>HT Hayko - Quansh</string>
		<string>Narek Mets Hayq - Karmir Aytert</string>
		<string>3.33 - Tiknikner</string>
		<string>3.33 - Krkesic</string>
		<string>Mi Qani Hogi - Chanaparh</string>
		<string>Mi Qani Hogi - SMS</string>
		<string>Mi Qani Hogi - Dzmer</string>
		<string>Vnas - Zang</string>
		<string>Edo - Bebe</string>
		<string>Misho - Mi Te</string>
		<string>Kar - Naxadu</string>
		<string>Kar - Qez </string>
		<string>Senco Ft. Feka - Street Shit</string>
		<string>Misho - Heqiatner Bajanox</string>
		<string>Misho - Zarancanq</string>
		<string>Vnas - Chka Garoon</string>
		<string>Misho - Tsar </string>
		<string>Mi Qani Hogi - Axchik-Chxchik</string>
		<string>Ht Hayko - Ancac Etap</string>
		<string>Misho(ft Goga) - Chimanair</string>
	</array>
</dict>
</plist>
